.o-shell {
	max-width: 400px;
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	align-items: left;
	justify-content: space-between;

	small {
		font-size: 1.25rem;
		text-align: center;
		flex: 1;
	}
}

.red {
	color: red;
}
